.cardList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: fit-content;
  margin: auto;
  margin-top: auto;
  padding-right: 2em;
  padding-left: 2em;
  width: 100%;
  min-width: 360px;
}

.card {
  color: white;
  max-width: 360px;
  display: flex;
  flex-grow: 1;
}

.cardText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectHeader {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.cardBottom > :hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
}

.innerCardList {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
