.cardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 96rem;
  height: fit-content;
  margin: auto;
}

.card {
  color: white;
}

.cardText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectHeader {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > :hover {
  transform: scale(1.05);
}
