.resumeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40%;
}
